.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} 

.container_login{
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top:120px;    
  height: 400px;
  background:#fff;
  border: 1px solid #d9d9d9;
}

.ErrorMsg{
  font-size: 1.2rem ;
  color: #FF4081 ;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*
.Dashboard-body{
  margin: 0;
  padding: 0;
  height:100%;
  width: 100%;
  font-family: sans-serif;
  background: #e1e2e4;
}
*/


