body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('./imgs/dew.jpg') ;
  height: 100%;
  width: 100%;
  background-size:     cover;                      
  background-repeat:   no-repeat;
  background-position: center center; 
  /*background: #e1e2e4;*/
}